.orderEntry {
  margin: 0;
  padding: 0 24px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  background-color: #1c1c21;
  cursor: pointer;
}

.orderNumber {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.orderInfo {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 24px;
}

.orderContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.orderPrice {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
