.dropArea {
  margin: 0;
  padding: 0;
  width: 100%;
}

.visible {
  min-height: 30px;
  height: 30px;
  border: 2px solid lightblue;
  opacity: 40%;
  transition: 0.1s linear height, 0.1s linear opacity;
}

.hidden {
  height: 0;
  border: none;
  opacity: 0;
}

.highlight {
  opacity: 80%;
}
