.app {
  height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.twoColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  max-width: 1240px;
}
